<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--物流订单围栏管理mapper -->
<mapper namespace="orderareamanagemapper">

    <!--查询物流订单围栏管理列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  创建时间   -->
                a.createdate,
                <!--  车牌号   -->
                a.plateno,
                <!--  simNo,终端卡号   -->
                a.simno,
                <!--  订单名称   -->
                a.name,
                <!--  订单开始时间   -->
                a.starttime,
                <!--  订单结束时间   -->
                a.endtime,
                <!--  状态，0、停用，1、启用   -->
                a.state
        from
        subiaodb.orderareamanage as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="plateno != null ">
                    and a.plateno=#{plateno}
                    <!-- and a.plateno like '%${plateno}%'-->
                </if>
                <if test="simno != null ">
                    and a.simno=#{simno}
                    <!-- and a.simno like '%${simno}%'-->
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="startstarttime != null ">
                    and a.starttime >= #{startstarttime }
                </if>
                <if test="endstarttime != null ">
                    and <![CDATA[ a.starttime < #{endstarttime }]]>
                </if>
                <if test="startendtime != null ">
                    and a.endtime >= #{startendtime }
                </if>
                <if test="endendtime != null ">
                    and <![CDATA[ a.endtime < #{endendtime }]]>
                </if>
                <if test="state != null ">
                    and a.state=#{state}
                </if>



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
            order by a.createdate desc

    </select>


</mapper>