<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--物流订单围栏点位信息mapper -->
<mapper namespace="orderareapointmapper">

    <!--查询物流订单围栏点位信息列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  创建时间   -->
                a.createdate,
                <!--  点位类型,1，开始点，2，途经点，3，结束点   -->
                a.pointtype,
                <!--  经度   -->
                a.longitude,
                <!--  纬度   -->
                a.latitude,
                <!--  地图类型 gps:天地图坐标，baidu:百度坐标，google:谷歌地图   -->
                a.maptype,
                <!--  和orderareamanage表主键绑定   -->
                a.orderid
        from
        subiaodb.orderareapoint as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="pointtype != null ">
                    and a.pointtype=#{pointtype}
                </if>
                <if test="longitude != null ">
                    and a.longitude=#{longitude}
                    <!-- and a.longitude like '%${longitude}%'-->
                </if>
                <if test="latitude != null ">
                    and a.latitude=#{latitude}
                    <!-- and a.latitude like '%${latitude}%'-->
                </if>
                <if test="maptype != null ">
                    and a.maptype=#{maptype}
                    <!-- and a.maptype like '%${maptype}%'-->
                </if>
                <if test="orderid != null ">
                    and a.orderid=#{orderid}
                </if>



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
            order by a.createdate desc

    </select>


</mapper>