<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--报警转发申请开通表,用于存放公司名和topicmapper -->
<mapper namespace="alarmgrantertopicmapper">

    <!--查询报警转发申请开通表,用于存放公司名和topic列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  公司名称   -->
                a.name,
                <!--  topic名称,这边要在新增的时候,自动生成一个字符串.唯一字符串.可以使用uuid   -->
                a.topicname,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  删除标志,0未删除,1已删除   -->
                a.deleted,
                <!--  是否开启,0关闭,1开启   -->
                a.isuse,
                <!--  申请转发开通的时候选择的机构id,唯一的,只能有一条有这个机构   -->
                a.depid,
                <!--  申请转发开通的时候选择的用户ID,用户已经申请转发开通之后,不能再进行申请   -->
                a.userid
        from
        subiaodb.alarmgrantertopic as a

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="topicname != null ">
                    and a.topicname=#{topicname}
                    <!-- and a.topicname like '%${topicname}%'-->
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #{endupdatedate }]]>
                </if>
                and a.deleted=false
                <if test="depid != null ">
                    and a.depid=#{depid}
                </if>
                <if test="userid != null ">
                    and a.userid=#{userid}
                </if>



            order by a.updatedate desc

    </select>


</mapper>