<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--报警转发规则配置mapper -->
<mapper namespace="alarmgrantermapper">

    <!--查询报警转发规则配置列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  规则名称   -->
                a.name,
                <!--  报警要转发的报警类型,格式为,报警来源:报警类型;报警来源:报警类型;(例如:终端报警:超速报警;平台报警:超速报警)   -->
                a.alarmtypes,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  用户id   -->
                a.userid,
                <!--  是否启用   -->
                a.isuse,
                <!--  删除标志,1代表删除,0代表正常   -->
                a.deleted,
                <!--  访问接口   -->
                a.url
        from
        subiaodb.alarmgranter as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #{endupdatedate }]]>
                </if>
                <if test="userid != null ">
                    and a.userid=#{userid}
                </if>
                and a.deleted=false
                <if test="url != null ">
                    and a.url=#{url}
                    <!-- and a.url like '%${url}%'-->
                </if>



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
            order by a.updatedate desc

    </select>


</mapper>