<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--流量阈值配置表mapper -->
<mapper namespace="flowlimitconfigmapper">

    <!--查询流量阈值配置表列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  名称   -->
                a.name,
                <!--  流量控制的阈值   -->
                a.limitval,
                <!--  有效开始时间   -->
                a.validstarttime,
                <!--  有效结束时间   -->
                a.validendtime,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  用户id   -->
                a.userid,
                <!--  是否启用,0禁用,1启用   -->
                a.isuse,
                <!--  删除标志,1代表删除,0代表正常   -->
                a.deleted
        from
        subiaodb.flowlimitconfig as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="startvalidstarttime != null ">
                    and a.validstarttime >= #{startvalidstarttime }
                </if>
                <if test="endvalidstarttime != null ">
                    and <![CDATA[ a.validstarttime < #
                    {endvalidstarttime }]]>
                </if>
                <if test="startvalidendtime != null ">
                    and a.validendtime >= #{startvalidendtime }
                </if>
                <if test="endvalidendtime != null ">
                    and <![CDATA[ a.validendtime < #
                    {endvalidendtime }]]>
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #
                    {endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #
                    {endupdatedate }]]>
                </if>
                <if test="userid != null ">
                    and a.userid=#{userid}
                </if>
                and a.deleted=false



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
        union
        select
                <!--  主键   -->
                a.id,
                <!--  名称   -->
                a.name,
                <!--  流量控制的阈值   -->
                a.limitval,
                <!--  有效开始时间   -->
                a.validstarttime,
                <!--  有效结束时间   -->
                a.validendtime,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  用户id   -->
                a.userid,
                <!--  是否启用,0禁用,1启用   -->
                a.isuse,
                <!--  删除标志,1代表删除,0代表正常   -->
                a.deleted
        from
        subiaodb.flowlimitconfig as a,
        subiaodb.flowlimitconfiguserlim as u

            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
        and a.id =u.mainid

            <if test="userid !=null ">
                and u.userId = #{userid}
            </if>
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="startvalidstarttime != null ">
                    and a.validstarttime >= #{startvalidstarttime }
                </if>
                <if test="endvalidstarttime != null ">
                    and <![CDATA[ a.validstarttime < #
                    {endvalidstarttime }]]>
                </if>
                <if test="startvalidendtime != null ">
                    and a.validendtime >= #{startvalidendtime }
                </if>
                <if test="endvalidendtime != null ">
                    and <![CDATA[ a.validendtime < #
                    {endvalidendtime }]]>
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #
                    {endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #
                    {endupdatedate }]]>
                </if>
                and a.deleted=false



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>


    </select>

</mapper>