<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--车场合同mapper -->
<mapper namespace="t_contract_parkmapper">

    <!--查询车场合同列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--     -->
                a.contractid,
                <!--  车场guid   -->
                a.parkguid,
                <!--  合同编号   -->
                a.contractno,
                <!--  合同车场车位数   -->
                a.contractspace,
                <!--  合同入口数   -->
                a.contractinchannelcount,
                <!--  合同出口数   -->
                a.contractoutchannelcount,
                <!--  项目类型 (0:学校 1:企业 2:医院 3:小区 4:写字楼 5:商场)   -->
                a.serviceobject,
                <!--  运营模式(0 直营-硬件销售 1 代运营-硬件维保分期 2:代运营 3:经销商-硬件销售 4:代运营-无人值守 5:代运营-减员增效 6:直营-维保协议7:自营 8:线上维保 9:线下维保  )   -->
                a.operationalmodel,
                <!--  签约来源(0 渠道代理 1 直营)   -->
                a.signsource,
                <!--  销售负责人账号id   -->
                a.saleuserid,
                <!--  销售负责人姓名   -->
                a.saleperson,
                <!--  合同状态 0 未生效 1 生效中 2 已过期   -->
                a.contractstatus,
                <!--  签约日期   -->
                a.signdate,
                <!--  合同期 (单位 月)   -->
                a.contractperiod,
                <!--  车场第一次上线时间   -->
                a.contractstarttime,
                <!--  车场到期时间   -->
                a.contractexpiretime,
                <!--  合同金额 (分)   -->
                a.contractamount,
                <!--  服务费(分)   -->
                a.servicechargeamount,
                <!--  周期类型 0:自定义, 1：1个月, 2:3个月,3:6个月,4:12个月,5:周   -->
                a.periodstype,
                <!--  回款方式 1:系统代扣,2:手动收款   -->
                a.receivablestype,
                <!--  创建人ID   -->
                a.createid,
                <!--  创建人姓名   -->
                a.createname,
                <!--  创建时间   -->
                a.createtime,
                <!--  更新时间    -->
                a.updatetime,
                <!--  操作人ID   -->
                a.handlerid,
                <!--  操作人姓名   -->
                a.handlername,
                <!--  试用方式：0 试用天数
 1 试用笔数 2 试用时间   -->
                a.tryway,
                <!--  0、审批中  1、审批通过，2、审批失败   -->
                a.approvestatus,
                <!--  根据试用方式传入相关的参数   -->
                a.trynumber,
                <!--  扣款方式,0 全部优先回款 1 按百分比回款   -->
                a.deductmoneytype,
                <!--  扣款百分比   -->
                a.deductmoneypercent,
                <!--  每月服务费   -->
                a.singlephaseamount,
                <!--  拒绝审批的原因   -->
                a.processfailedremark
        from
        sync.t_contract_park as a

        where 1=1
                <if test="contractno != null ">
                    and a.contractno=#{contractno}
                    <!-- and a.contractno like '%${contractno}%'-->
                </if>
                <if test="contractspace != null ">
                    and a.contractspace=#{contractspace}
                </if>
                <if test="contractinchannelcount != null ">
                    and a.contractinchannelcount=#{contractinchannelcount}
                </if>
                <if test="contractoutchannelcount != null ">
                    and a.contractoutchannelcount=#{contractoutchannelcount}
                </if>
                <if test="serviceobject != null ">
                    and a.serviceobject=#{serviceobject}
                </if>
                <if test="operationalmodel != null ">
                    and a.operationalmodel=#{operationalmodel}
                </if>
                <if test="signsource != null ">
                    and a.signsource=#{signsource}
                </if>
                <if test="saleperson != null ">
                    and a.saleperson=#{saleperson}
                    <!-- and a.saleperson like '%${saleperson}%'-->
                </if>
                <if test="contractstatus != null ">
                    and a.contractstatus=#{contractstatus}
                </if>
                <if test="contractperiod != null ">
                    and a.contractperiod=#{contractperiod}
                </if>
                <if test="contractamount != null ">
                    and a.contractamount=#{contractamount}
                </if>
                <if test="servicechargeamount != null ">
                    and a.servicechargeamount=#{servicechargeamount}
                </if>
                <if test="periodstype != null ">
                    and a.periodstype=#{periodstype}
                </if>
                <if test="receivablestype != null ">
                    and a.receivablestype=#{receivablestype}
                </if>
                <if test="createname != null ">
                    and a.createname=#{createname}
                    <!-- and a.createname like '%${createname}%'-->
                </if>
                <if test="startcreatetime != null ">
                    and a.createtime >= #{startcreatetime }
                </if>
                <if test="endcreatetime != null ">
                    and <![CDATA[ a.createtime < #{endcreatetime }]]>
                </if>
                <if test="startupdatetime != null ">
                    and a.updatetime >= #{startupdatetime }
                </if>
                <if test="endupdatetime != null ">
                    and <![CDATA[ a.updatetime < #{endupdatetime }]]>
                </if>
                <if test="handlername != null ">
                    and a.handlername=#{handlername}
                    <!-- and a.handlername like '%${handlername}%'-->
                </if>
                <if test="tryway != null ">
                    and a.tryway=#{tryway}
                </if>
                <if test="approvestatus != null ">
                    and a.approvestatus=#{approvestatus}
                </if>
                <if test="trynumber != null ">
                    and a.trynumber=#{trynumber}
                    <!-- and a.trynumber like '%${trynumber}%'-->
                </if>
                <if test="deductmoneytype != null ">
                    and a.deductmoneytype=#{deductmoneytype}
                </if>
                <if test="deductmoneypercent != null ">
                    and a.deductmoneypercent=#{deductmoneypercent}
                    <!-- and a.deductmoneypercent like '%${deductmoneypercent}%'-->
                </if>
                <if test="singlephaseamount != null ">
                    and a.singlephaseamount=#{singlephaseamount}
                </if>
                <if test="processfailedremark != null ">
                    and a.processfailedremark=#{processfailedremark}
                    <!-- and a.processfailedremark like '%${processfailedremark}%'-->
                </if>




    </select>


</mapper>