<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--车场合同mapper -->
<mapper namespace="com.cwgj.service.data.mapper.TContractParkMapper">

    <!--查询车场合同列表 -->
    <select id="list"  resultType="com.cwgj.service.data.common.vo.contractpark.ContractParkVO">
        select
        <!--  车场名称   -->
        t2.park_name,
        t2.operator_id,
        t2.operator_name,
        t2.city_id,
        t2.city_name,


                <!--     -->
                t1.contractId,
                <!--  车场guid   -->
                t1.parkGuid,
                <!--  合同编号   -->
                t1.contractNo,
                <!--  合同车场车位数   -->
                t1.contractSpace,
                <!--  合同入口数   -->
                t1.contractInChannelCount,
                <!--  合同出口数   -->
                t1.contractOutChannelCount,
                <!--  项目类型 (0:学校 1:企业 2:医院 3:小区 4:写字楼 5:商场)   -->
                t1.serviceObject,
                <!--  运营模式(0 直营-硬件销售 1 代运营-硬件维保分期 2:代运营 3:经销商-硬件销售 4:代运营-无人值守 5:代运营-减员增效 6:直营-维保协议7:自营 8:线上维保 9:线下维保  )   -->
                t1.operationalModel,
                <!--  签约来源(0 渠道代理 1 直营)   -->
                t1.signSource,
                <!--  销售负责人账号id   -->
                t1.saleUserId,
                <!--  销售负责人姓名   -->
                t1.salePerson,
                <!--  合同状态 0 未生效 1 生效中 2 已过期   -->
                t1.contractStatus,
                <!--  签约日期   -->
                t1.signDate,
                <!--  合同期 (单位 月)   -->
                t1.contractPeriod,
                <!--  车场第一次上线时间   -->
                t1.contractStartTime,
                <!--  车场到期时间   -->
                t1.contractExpireTime,
                <!--  合同金额 (分)   -->
                t1.contractAmount,
                <!--  服务费(分)   -->
                t1.serviceChargeAmount,
                <!--  周期类型 0:自定义, 1：1个月, 2:3个月,3:6个月,4:12个月,5:周   -->
                t1.periodsType,
                <!--  回款方式 1:系统代扣,2:手动收款   -->
                t1.receivablesType,
                <!--  创建人ID   -->
                t1.createId,
                <!--  创建人姓名   -->
                t1.createName,
                <!--  创建时间   -->
                t1.createTime,
                <!--  更新时间    -->
                t1.updateTime,
                <!--  操作人ID   -->
                t1.handlerId,
                <!--  操作人姓名   -->
                t1.handlerName,
                <!--  试用方式：0 试用天数
 1 试用笔数 2 试用时间   -->
                t1.tryWay,
                <!--  0、审批中  1、审批通过，2、审批失败   -->
                t1.approveStatus,
                <!--  根据试用方式传入相关的参数   -->
                t1.tryNumber,
                <!--  扣款方式,0 全部优先回款 1 按百分比回款   -->
                t1.deductMoneyType,
                <!--  扣款百分比   -->
                t1.deductMoneyPercent,
                <!--  每月服务费   -->
                t1.singlePhaseAmount,
                <!--  拒绝审批的原因   -->
                t1.processFailedRemark

        from
        sync.t_contract_park as t1

             join t_park t2 ON t1.park_guid = t2.park_guid
        where 1=1
            <!--     -->
                <if test="contractId != null ">
                    and t1.contractId=#{contractId}
                </if>
            <!--  车场guid   -->
                <if test="parkGuid != null  and parkGuid != ''">
                    and t1.parkGuid=#{parkGuid}
                    <!-- and t1.parkGuid like '%${parkGuid}%'-->
                </if>
            <!--  合同编号   -->
                <if test="contractNo != null  and contractNo != ''">
                    and t1.contractNo=#{contractNo}
                    <!-- and t1.contractNo like '%${contractNo}%'-->
                </if>
            <!--  合同车场车位数   -->
                <if test="contractSpace != null ">
                    and t1.contractSpace=#{contractSpace}
                </if>
            <!--  合同入口数   -->
                <if test="contractInChannelCount != null ">
                    and t1.contractInChannelCount=#{contractInChannelCount}
                </if>
            <!--  合同出口数   -->
                <if test="contractOutChannelCount != null ">
                    and t1.contractOutChannelCount=#{contractOutChannelCount}
                </if>
            <!--  项目类型 (0:学校 1:企业 2:医院 3:小区 4:写字楼 5:商场)   -->
                <if test="serviceObject != null ">
                    and t1.serviceObject=#{serviceObject}
                </if>
            <!--  运营模式(0 直营-硬件销售 1 代运营-硬件维保分期 2:代运营 3:经销商-硬件销售 4:代运营-无人值守 5:代运营-减员增效 6:直营-维保协议7:自营 8:线上维保 9:线下维保  )   -->
                <if test="operationalModel != null ">
                    and t1.operationalModel=#{operationalModel}
                </if>
            <!--  签约来源(0 渠道代理 1 直营)   -->
                <if test="signSource != null ">
                    and t1.signSource=#{signSource}
                </if>
            <!--  销售负责人账号id   -->
                <if test="saleUserId != null ">
                    and t1.saleUserId=#{saleUserId}
                </if>
            <!--  销售负责人姓名   -->
                <if test="salePerson != null  and salePerson != ''">
                    and t1.salePerson=#{salePerson}
                    <!-- and t1.salePerson like '%${salePerson}%'-->
                </if>
            <!--  合同状态 0 未生效 1 生效中 2 已过期   -->
                <if test="contractStatus != null ">
                    and t1.contractStatus=#{contractStatus}
                </if>
            <!--  签约日期   -->
                <if test="startsignDate != null and signDate != ''">
                    and t1.signDate >= #{startsignDate }
                </if>
                <if test="endsignDate != null ">
                    and <![CDATA[ t1.signDate < #{endsignDate }]]>
                </if>
            <!--  合同期 (单位 月)   -->
                <if test="contractPeriod != null ">
                    and t1.contractPeriod=#{contractPeriod}
                </if>
            <!--  车场第一次上线时间   -->
                <if test="startcontractStartTime != null and contractStartTime != ''">
                    and t1.contractStartTime >= #{startcontractStartTime }
                </if>
                <if test="endcontractStartTime != null ">
                    and <![CDATA[ t1.contractStartTime < #{endcontractStartTime }]]>
                </if>
            <!--  车场到期时间   -->
                <if test="startcontractExpireTime != null and contractExpireTime != ''">
                    and t1.contractExpireTime >= #{startcontractExpireTime }
                </if>
                <if test="endcontractExpireTime != null ">
                    and <![CDATA[ t1.contractExpireTime < #{endcontractExpireTime }]]>
                </if>
            <!--  合同金额 (分)   -->
                <if test="contractAmount != null ">
                    and t1.contractAmount=#{contractAmount}
                </if>
            <!--  服务费(分)   -->
                <if test="serviceChargeAmount != null ">
                    and t1.serviceChargeAmount=#{serviceChargeAmount}
                </if>
            <!--  周期类型 0:自定义, 1：1个月, 2:3个月,3:6个月,4:12个月,5:周   -->
                <if test="periodsType != null ">
                    and t1.periodsType=#{periodsType}
                </if>
            <!--  回款方式 1:系统代扣,2:手动收款   -->
                <if test="receivablesType != null ">
                    and t1.receivablesType=#{receivablesType}
                </if>
            <!--  创建人ID   -->
                <if test="createId != null ">
                    and t1.createId=#{createId}
                </if>
            <!--  创建人姓名   -->
                <if test="createName != null  and createName != ''">
                    and t1.createName=#{createName}
                    <!-- and t1.createName like '%${createName}%'-->
                </if>
            <!--  创建时间   -->
                <if test="startcreateTime != null and createTime != ''">
                    and t1.createTime >= #{startcreateTime }
                </if>
                <if test="endcreateTime != null ">
                    and <![CDATA[ t1.createTime < #{endcreateTime }]]>
                </if>
            <!--  更新时间    -->
                <if test="startupdateTime != null and updateTime != ''">
                    and t1.updateTime >= #{startupdateTime }
                </if>
                <if test="endupdateTime != null ">
                    and <![CDATA[ t1.updateTime < #{endupdateTime }]]>
                </if>
            <!--  操作人ID   -->
                <if test="handlerId != null ">
                    and t1.handlerId=#{handlerId}
                </if>
            <!--  操作人姓名   -->
                <if test="handlerName != null  and handlerName != ''">
                    and t1.handlerName=#{handlerName}
                    <!-- and t1.handlerName like '%${handlerName}%'-->
                </if>
            <!--  试用方式：0 试用天数
 1 试用笔数 2 试用时间   -->
                <if test="tryWay != null ">
                    and t1.tryWay=#{tryWay}
                </if>
            <!--  0、审批中  1、审批通过，2、审批失败   -->
                <if test="approveStatus != null ">
                    and t1.approveStatus=#{approveStatus}
                </if>
            <!--  根据试用方式传入相关的参数   -->
                <if test="tryNumber != null  and tryNumber != ''">
                    and t1.tryNumber=#{tryNumber}
                    <!-- and t1.tryNumber like '%${tryNumber}%'-->
                </if>
            <!--  扣款方式,0 全部优先回款 1 按百分比回款   -->
                <if test="deductMoneyType != null ">
                    and t1.deductMoneyType=#{deductMoneyType}
                </if>
            <!--  扣款百分比   -->
                <if test="deductMoneyPercent != null  and deductMoneyPercent != ''">
                    and t1.deductMoneyPercent=#{deductMoneyPercent}
                    <!-- and t1.deductMoneyPercent like '%${deductMoneyPercent}%'-->
                </if>
            <!--  每月服务费   -->
                <if test="singlePhaseAmount != null ">
                    and t1.singlePhaseAmount=#{singlePhaseAmount}
                </if>
            <!--  拒绝审批的原因   -->
                <if test="processFailedRemark != null  and processFailedRemark != ''">
                    and t1.processFailedRemark=#{processFailedRemark}
                    <!-- and t1.processFailedRemark like '%${processFailedRemark}%'-->
                </if>

                <include refid="com.cwgj.service.data.mapper.TParkMapper.ParkGuidsWHERE">
                    <property name="alias" value="t2."/>
                </include>

    </select>


</mapper>