<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--填充的数据的车辆主键mapper -->
<mapper namespace="datafillingvehiclemapper">

    <!--查询填充的数据的车辆主键列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--     -->
                a.id,
                <!--     -->
                a.createdate,
                <!--     -->
                a.vehicleid
        from
        subiaodb.datafillingvehicle as a

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="vehicleid != null ">
                    and a.vehicleid=#{vehicleid}
                </if>



            order by a.createdate desc

    </select>


</mapper>