<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--历史轨迹转发补传日志表mapper -->
<mapper namespace="gpstransferrepairlogmapper">

    <!--查询历史轨迹转发补传日志表列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--     -->
                a.id,
                <!--  开始时间   -->
                a.starttime,
                <!--  创建时间   -->
                a.createdate,
                <!--  结束时间   -->
                a.endtime,
                <!--  处理结果   -->
                a.msg,
                <!--  请求url   -->
                a.url,
                <!--  处理车辆数   -->
                a.veco
        from
        subiaodb.gpstransferrepairlog as a

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="startstarttime != null ">
                    and a.starttime >= #{startstarttime }
                </if>
                <if test="endstarttime != null ">
                    and <![CDATA[ a.starttime < #{endstarttime }]]>
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="startendtime != null ">
                    and a.endtime >= #{startendtime }
                </if>
                <if test="endendtime != null ">
                    and <![CDATA[ a.endtime < #{endendtime }]]>
                </if>
                <if test="msg != null ">
                    and a.msg=#{msg}
                    <!-- and a.msg like '%${msg}%'-->
                </if>
                <if test="url != null ">
                    and a.url=#{url}
                    <!-- and a.url like '%${url}%'-->
                </if>
                <if test="veco != null ">
                    and a.veco=#{veco}
                </if>



            order by a.createdate desc

    </select>


</mapper>