<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <meta charset="UTF-8"/>
    <title>V基础</title>
</head>
<body>

<div id="app">
    车牌号：<input type="text" v-model="plateNo" @keyup="search">
   simNo: <input  type="text" v-model="simNo" @keyup="search">

   <table v-if="pagesize>0" border="1">
        <tr>
            <td>序号</td> <td>车牌号</td> <td>终端卡号</td> <td>车辆主键</td> <td>删除标志</td>
        </tr>
       <tr v-for="(item,index) in list">
           <td>{{index+1}}</td>
          <td>{{item.plateNo}}</td><td>{{item.simNo}}</td>
           <td>{{item.vehicleId}}</td><td>{{item.deleted}}</td>
       </tr>
   </table>
    <button v-on:click="sendJsonP">查询</button>
    <div v-if="total>0" >
        <a @click="beforpage" >上一页</a>
        <a v-for="index in pagesize" v-on:click="clickpage(index)" :style="{color: keyword.page==index ?'red':'black' }" >    {{index}}   </a>
        <a :title="keyword.page" @click="afterpage">下一页</a>
       总数 {{total}}
    </div>


</div>

<script>

    var app=new Vue({
        el:"#app",
        data: {
            inputValue:"测试",
            keyword:{page:1,pagesize:10},
            list:[],
            pagesize:0,
            total:0,
            url:'http://localhost:8964/test/list.action',
            plateNo:'',
            simNo:'',
        },
        methods:{
            beforpage:function(){
                if(  app.keyword.page>1){
                    app.keyword.page= app.keyword.page-1;
                    app.sendJsonP();
                }

            },
            afterpage:function(){
                if(  app.keyword.page<app.pagesize){
                    app.keyword.page= app.keyword.page+1;
                    app.sendJsonP();
                }
            },
            clickpage:function(page){
                app.keyword.page=page;
                app.sendJsonP();
            },
            search:function(){
                app.keyword.page=1;
                app.sendJsonP();
            },
            sendJsonP:function () {
                app.keyword.plateNo=app.plateNo;
                app.keyword.simNo=app.simNo;
                axios.post(app.url,app.keyword)
                    .then(function (response) {
                        var data = response.data.rows;
                        app.list=data;
                        app.pagesize=floatToIntegerUp(response.data.total/10);
                        app.total=response.data.total;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });

    //var int=self.setInterval("clock()",1000);

    function clock() {
        if(app.pagesize>0){
                app.keyword.page=app.keyword.page+1;
                if(app.keyword.page>app.pagesize){
                    app.keyword.page=1;
                }
                app.sendJsonP();
        }
    }

    /**
     * 数字，数字（包括正整数、0、浮点数），也可以判断是否金额
     * @param z_check_value 要检查的值
     * @return 符合返回true，否false
     * @author lqy
     * @since 2017-01-07
     */
    function isFloat(z_check_value){
        var z_reg = /^((([0-9])|([1-9][0-9]+))(\.([0-9]+))?)$/;//.是特殊字符，需要转义
        return z_reg.test($.trim(z_check_value));
    };

    /**
     * js小数向下取整：浮点数转换成整数，小数点后去掉
     * @param floatNumber
     */
    function floatToInteger(floatNumber){
        if(!isFloat(floatNumber)){
            error("请输入正确的数字");
            return;
        }
        return parseInt(floatNumber);
    };

    /**
     * js 小数向上取整：浮点数转换成整数，如果有小数(1.00不算有小数)，整数加1
     * @param floatNumber
     */
    function floatToIntegerUp(floatNumber){
        var integerNumber = floatToInteger(floatNumber);
        if(floatNumber > integerNumber){
            integerNumber += 1;
        }
        return integerNumber;
    };

</script>

</body>
</html>