<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--定时拍照配置表mapper -->
<mapper namespace="takingphotosbytimemapper">

    <!--查询定时拍照配置表列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  名称   -->
                a.name,
                <!--  拍照间隔(单位：分)   -->
                a.configinterval,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  配置生效开始时间，时间格式为00:00:00    -->
                a.starttime,
                <!--  配置生效结束时间,时间格式为 23:59:59   -->
                a.endtime,
                <!--  配置有效期开始时间,都不传则是无限制，只传开始时间就是大于开始时间即可   -->
                a.validstarttime,
                <!--  配置有效期结束时间,都不传则是无限制，只传结束时间就是小于开始时间即可   -->
                a.validendtime,
                <!--  触发条件,0、不限制，1、根据车速，2、根据停车时长   -->
                a.configcondition,
                <!--  车速单位km/h，触发条件为1的车速   -->
                a.speed,
                <!--  停车时长单位分钟，触发条件为2的停车时长   -->
                a.packduration,
                <!--  拍照的通道,用";"号隔开   -->
                a.channel,
                <!--  用户id   -->
                a.userid,
                <!--  是否启用,0禁用,1启用   -->
                a.isuse,
                <!--  删除标志,1代表删除,0代表正常   -->
                a.deleted,
                <!--  用户名   -->
                a.username
        from
        subiaodb.takingphotosbytime as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="name != null ">
                    and a.name=#{name}
                    <!-- and a.name like '%${name}%'-->
                </if>
                <if test="configinterval != null ">
                    and a.configinterval=#{configinterval}
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #
                    {endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #
                    {endupdatedate }]]>
                </if>
                <if test="starttime != null ">
                    and a.starttime=#{starttime}
                    <!-- and a.starttime like '%${starttime}%'-->
                </if>
                <if test="endtime != null ">
                    and a.endtime=#{endtime}
                    <!-- and a.endtime like '%${endtime}%'-->
                </if>
                <if test="startvalidstarttime != null ">
                    and a.validstarttime >= #{startvalidstarttime }
                </if>
                <if test="endvalidstarttime != null ">
                    and <![CDATA[ a.validstarttime < #
                    {endvalidstarttime }]]>
                </if>
                <if test="startvalidendtime != null ">
                    and a.validendtime >= #{startvalidendtime }
                </if>
                <if test="endvalidendtime != null ">
                    and <![CDATA[ a.validendtime < #
                    {endvalidendtime }]]>
                </if>
                <if test="configcondition != null ">
                    and a.configcondition=#{configcondition}
                </if>
                <if test="channel != null ">
                    and a.channel=#{channel}
                    <!-- and a.channel like '%${channel}%'-->
                </if>
                <if test="userid != null ">
                    and a.userid=#{userid}
                </if>
                <if test="isuse != null ">
                    and a.isuse=#{isuse}
                </if>
                and a.deleted=false
                <if test="username != null ">
                    and a.username=#{username}
                    <!-- and a.username like '%${username}%'-->
                </if>



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
        union
        select
                <!--  主键   -->
                a.id,
                <!--  名称   -->
                a.name,
                <!--  拍照间隔(单位：分)   -->
                a.configinterval,
                <!--  创建时间   -->
                a.createdate,
                <!--  修改时间   -->
                a.updatedate,
                <!--  配置生效开始时间，时间格式为00:00:00    -->
                a.starttime,
                <!--  配置生效结束时间,时间格式为 23:59:59   -->
                a.endtime,
                <!--  配置有效期开始时间,都不传则是无限制，只传开始时间就是大于开始时间即可   -->
                a.validstarttime,
                <!--  配置有效期结束时间,都不传则是无限制，只传结束时间就是小于开始时间即可   -->
                a.validendtime,
                <!--  触发条件,0、不限制，1、根据车速，2、根据停车时长   -->
                a.configcondition,
                <!--  车速单位km/h，触发条件为1的车速   -->
                a.speed,
                <!--  停车时长单位分钟，触发条件为2的停车时长   -->
                a.packduration,
                <!--  拍照的通道,用";"号隔开   -->
                a.channel,
                <!--  用户id   -->
                a.userid,
                <!--  是否启用,0禁用,1启用   -->
                a.isuse,
                <!--  删除标志,1代表删除,0代表正常   -->
                a.deleted,
                <!--  用户名   -->
                a.username
        from
        subiaodb.takingphotosbytime as a,
        subiaodb.FreeMarker template error (DEBUG mode; use RETHROW in production!):
The following has evaluated to null or missing:
==> tableVobyUserLim  [in template "${tablename}mapper-xml.ftl" at line 120, column 26]

----
Tip: If the failing expression is known to legally refer to something that's sometimes null or missing, either specify a default value like myOptionalVar!myDefault, or use <#if myOptionalVar??>when-present<#else>when-missing</#if>. (These only cover the last step of the expression; to cover the whole expression, use parenthesis: (myOptionalVar.foo)!myDefault, (myOptionalVar.foo)??
----

----
FTL stack trace ("~" means nesting-related):
	- Failed at: ${tableVobyUserLim.tablename}  [in template "${tablename}mapper-xml.ftl" at line 120, column 24]
----

Java stack trace (for programmers):
----
freemarker.core.InvalidReferenceException: [... Exception message was already printed; see it above ...]
	at freemarker.core.InvalidReferenceException.getInstance(InvalidReferenceException.java:134)
	at freemarker.core.UnexpectedTypeException.newDescriptionBuilder(UnexpectedTypeException.java:85)
	at freemarker.core.UnexpectedTypeException.<init>(UnexpectedTypeException.java:48)
	at freemarker.core.NonHashException.<init>(NonHashException.java:49)
	at freemarker.core.Dot._eval(Dot.java:48)
	at freemarker.core.Expression.eval(Expression.java:101)
	at freemarker.core.DollarVariable.calculateInterpolatedStringOrMarkup(DollarVariable.java:100)
	at freemarker.core.DollarVariable.accept(DollarVariable.java:63)
	at freemarker.core.Environment.visit(Environment.java:334)
	at freemarker.core.Environment.visit(Environment.java:340)
	at freemarker.core.Environment.process(Environment.java:313)
	at freemarker.template.Template.process(Template.java:383)
	at com.hzz.hzzcloud.freemarkerbydir.FreeMarkbydirExcuter.writetem(FreeMarkbydirExcuter.java:109)
	at com.hzz.hzzcloud.freemarkerbydir.FreeMarkbydirExcuter.readTable(FreeMarkbydirExcuter.java:83)
	at com.hzz.hzzcloud.freemarkerbydir.FreeMarkbydirMain.main(FreeMarkbydirMain.java:31)
