<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--定时拍照结果表(总表)mapper -->
<mapper namespace="takingphotosbytimeresultmapper">

    <!--查询定时拍照结果表(总表)列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--     -->
                a.id,
                <!--  创建时间   -->
                a.createdate,
                <!--  更新时间   -->
                a.updatedate,
                <!--  删除标志   -->
                a.deleted,
                <!--  发送命令用户id   -->
                a.userid,
                <!--  拍照总数   -->
                a.photonum,
                <!--  备注   -->
                a.remark,
                <!--  维度   -->
                a.latitude,
                <!--  经度   -->
                a.longitude,
                <!--  定位时间   -->
                a.sendtime,
                <!--  simNo   -->
                a.simno,
                <!--  车辆主键   -->
                a.vehicleid,
                <!--  当前车速   -->
                a.speed,
                <!--  司机姓名   -->
                a.drivername,
                <!--  从业资格证号   -->
                a.certificate,
                <!--  配置表id,表名takingphotosbytime   -->
                a.configid,
                <!--  上传情况，0,未上传,1上传成功   -->
                a.status
        from
        subiaodb.takingphotosbytimeresult as a
            left join vehicle v on a.vehicleId =v.vehicleId and v.deleted=false

        where 1=1
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #{endupdatedate }]]>
                </if>
                and a.deleted=false
                <if test="userid != null ">
                    and a.userid=#{userid}
                </if>
                <if test="photonum != null ">
                    and a.photonum=#{photonum}
                </if>
                <if test="remark != null ">
                    and a.remark=#{remark}
                    <!-- and a.remark like '%${remark}%'-->
                </if>
                <if test="startsendtime != null ">
                    and a.sendtime >= #{startsendtime }
                </if>
                <if test="endsendtime != null ">
                    and <![CDATA[ a.sendtime < #{endsendtime }]]>
                </if>
                <if test="simno != null ">
                    and a.simno=#{simno}
                    <!-- and a.simno like '%${simno}%'-->
                </if>
                <if test="vehicleid != null ">
                    and a.vehicleid=#{vehicleid}
                    <!-- and a.vehicleid like '%${vehicleid}%'-->
                </if>
                <if test="drivername != null ">
                    and a.drivername=#{drivername}
                    <!-- and a.drivername like '%${drivername}%'-->
                </if>
                <if test="certificate != null ">
                    and a.certificate=#{certificate}
                    <!-- and a.certificate like '%${certificate}%'-->
                </if>
                <if test="status != null ">
                    and a.status=#{status}
                </if>



                <if test="depIdList != null and vehicleIdList == null">
                    and v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="vehicleIdList != null and depIdList == null">
                    and v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>

                <if test="vehicleIdList != null and depIdList != null">
                    and (v.depId in
                    <foreach
                            collection="depIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    or v.vehicleId in
                    <foreach
                            collection="vehicleIdList" index="index" item="item"
                            open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    )
                </if>
            order by a.updatedate desc

    </select>


</mapper>