<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对讲频道管理mapper -->
<mapper namespace="talkchannelmapper">

    <!--查询对讲频道管理列表 -->
    <select id="selectlist" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select
                <!--  主键   -->
                a.id,
                <!--  频道Id   -->
                a.channelid,
                <!--  频道名称   -->
                a.channelname,
                <!--  创建时间   -->
                a.createdate,
                <!--  成员数量   -->
                a.membernum,
                <!--  频道备注   -->
                a.remark,
                <!--  创建用户id   -->
                a.owner,
                <!--  状态,0,正常,4禁用   -->
                a.status,
                <!--  类型,0频道(该字段暂时无用,预留)   -->
                a.type,
                <!--  0代表未删除,1以上代表删除   -->
                a.deleted,
                <!--  更新时间   -->
                a.updatedate
        from
        subiaodb.talkchannel as a

        where 1=1
                <if test="id != null ">
                    and a.id=#{id}
                </if>
                <if test="channelid != null ">
                    and a.channelid=#{channelid}
                    <!-- and a.channelid like '%${channelid}%'-->
                </if>
                <if test="channelname != null ">
                    and a.channelname=#{channelname}
                    <!-- and a.channelname like '%${channelname}%'-->
                </if>
                <if test="startcreatedate != null ">
                    and a.createdate >= #{startcreatedate }
                </if>
                <if test="endcreatedate != null ">
                    and <![CDATA[ a.createdate < #{endcreatedate }]]>
                </if>
                <if test="membernum != null ">
                    and a.membernum=#{membernum}
                </if>
                <if test="remark != null ">
                    and a.remark=#{remark}
                    <!-- and a.remark like '%${remark}%'-->
                </if>
                <if test="owner != null ">
                    and a.owner=#{owner}
                </if>
                <if test="status != null ">
                    and a.status=#{status}
                </if>
                <if test="type != null ">
                    and a.type=#{type}
                </if>
                and a.deleted=false
                <if test="startupdatedate != null ">
                    and a.updatedate >= #{startupdatedate }
                </if>
                <if test="endupdatedate != null ">
                    and <![CDATA[ a.updatedate < #{endupdatedate }]]>
                </if>



            order by a.updatedate desc

    </select>


</mapper>